form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  div {
    margin-bottom: 12px;
  }
  
  /* Style for checkboxes */
  .checkbox-group .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group .checkbox-item {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Display checkboxes in the same line */
 
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  